{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<section class="flex flex-col items-center  w-screen h-screen bg-pink-200 text-gray-700">
    {{ form_errors(registrationForm) }}



    <h1 class="p-8 font-bold text-2xl">Inscription</h1>

    {{ form_start(registrationForm) }}

    <div class="w-96 p-12 bg-white rounded shadow-lg" >

    <form class="flex flex-col rounded shadow-lg p-12 mt-12" action="">
        
        <div class="form-field">
            <label class="font-semibold text-xs">Nom</label>
            {{ form_widget(registrationForm.nom, { 'attr': {'class': 'flex items-center h-12 px-4 w-64 border-2 border-pink-200 border-opacity-100 bg-white mt-2 rounded focus:outline-none focus:ring-2'} }) }}
        </div>
        
        <div class="form-field">
            <label class="font-semibold text-xs">Prénom</label>
            {{ form_widget(registrationForm.prenom, { 'attr': {'class': 'flex items-center h-12 px-4 w-64 border-2 border-pink-200 border-opacity-100 bg-white mt-2 rounded focus:outline-none focus:ring-2'} }) }}
        </div>

        <div class="form-field">
            <label class="font-semibold text-xs">Email</label>
            {{ form_widget(registrationForm.email, { 'attr': {'class': 'flex items-center h-12 px-4 w-64 border-2 border-pink-200 border-opacity-100 bg-white mt-2 rounded focus:outline-none focus:ring-2'} }) }}
        </div>

        <div class="form-field">
            <label class="font-semibold text-xs mt-3">Mot de passe</label>
            {{ form_widget(registrationForm.plainPassword, { 'label': 'Password', 'attr': {'class': 'flex items-center h-12 px-4 w-64 border-2 border-pink-200 border-opacity-100 bg-white mt-2 rounded focus:outline-none focus:ring-2'} }) }}
        </div>
        
      

        <button class="flex items-center justify-center h-12 px-6 w-64 bg-pink-200 mt-8 rounded font-semibold text-sm text-gray-700 hover:bg-pink-500">
            Inscription
        </button>

        <div class="flex mt-6 justify-center text-xs">
            <label class="text-pink-200 hover:text-pink-500" href="#">Accepter CGU</label>
            {{ form_widget(registrationForm.agreeTerms, {'attr' : { 'class': 'flex items-center px-2 bg-white rounded focus:outline-none focus:ring-2'}}) }}
        </div>
    </form>

    {{ form_end(registrationForm) }}

    </div>
    
</section>

    
{% endblock %}
