<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="stylesheets" href="{{asset('build/app.css')}}"/>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    
    <body>
        <!-- component -->
    <header class="header sticky top-0 bg-white shadow-md flex items-center justify-between px-8 py-02" style="z-index: 1000;">
        <!-- logo -->
        <h1 class="w-3/12 ">
            <a href="" class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="40" height="40" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">
                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#FBCFE8" stroke="none">
                        <path d="M2149 4997 c-47 -13 -101 -47 -132 -82 -38 -44 -382 -520 -418 -580 -68 -113 -108 -279 -94 -394 6 -50 5 -53 -12 -46 -139 58 -285 77 -408 51 -83 -16 -677 -206 -725 -231 -50 -26 -91 -67 -118 -119 -22 -42 -27 -64 -27 -126 0 -72 2 -80 53 -176 30 -56 52 -110 50 -120 -2 -12 -38 -37 -103 -71 -69 -35 -113 -66 -143 -98 -74 -83 -91 -203 -42 -298 40 -76 414 -582 471 -637 76 -73 151 -117 263 -155 l93 -31 -38 -44 c-49 -56 -114 -186 -134 -265 -8 -33 -18 -110 -22 -171 -7 -127 4 -175 43 -193 35 -15 47 -14 76 8 23 19 25 27 31 148 4 71 14 153 23 183 40 138 138 258 261 322 61 32 750 264 759 255 2 -2 -25 -22 -61 -45 -82 -54 -147 -129 -190 -217 -30 -62 -135 -446 -135 -493 0 -31 40 -98 70 -116 34 -20 107 -24 138 -7 18 10 20 6 24 -45 4 -47 10 -61 40 -91 29 -29 45 -37 85 -40 44 -4 55 0 128 44 245 150 327 207 375 261 56 63 112 167 135 252 13 50 14 21 12 -365 -2 -417 -2 -420 -26 -480 -50 -125 -148 -236 -256 -289 -46 -22 -372 -132 -625 -211 -81 -25 -86 -25 -126 -10 -23 9 -50 27 -58 41 -9 13 -23 72 -31 131 -18 122 -40 170 -97 209 -51 36 -117 41 -238 19 -92 -17 -98 -17 -134 0 -55 26 -69 62 -75 193 -7 126 -15 142 -76 142 -59 0 -70 -26 -70 -159 0 -67 6 -131 13 -153 32 -90 127 -170 220 -184 25 -4 87 1 152 12 139 23 138 24 157 -117 20 -147 58 -211 155 -264 45 -25 64 -29 123 -29 61 1 110 14 380 103 171 55 346 119 390 140 116 57 221 153 278 253 12 21 24 38 27 38 3 0 15 -17 27 -38 57 -100 162 -196 278 -253 44 -21 220 -85 390 -140 270 -89 319 -102 380 -103 59 0 78 4 123 29 97 53 135 117 155 264 19 141 18 140 157 117 65 -11 127 -16 152 -12 60 9 143 59 178 107 54 75 55 83 55 499 0 372 -1 388 -23 465 -27 92 -77 190 -132 255 l-38 46 88 27 c108 34 193 84 268 156 58 56 432 562 472 638 49 95 32 215 -42 298 -30 32 -74 63 -143 98 -65 34 -101 59 -103 71 -2 10 20 64 50 120 51 96 53 104 53 176 0 62 -5 84 -27 126 -27 52 -68 93 -117 118 -35 18 -393 136 -413 136 -30 0 -68 -40 -68 -71 0 -58 10 -65 208 -130 103 -33 199 -67 213 -75 35 -17 63 -77 56 -119 -3 -18 -23 -64 -44 -102 -67 -117 -77 -170 -47 -241 24 -58 61 -91 159 -138 49 -25 97 -52 107 -61 28 -25 43 -85 30 -121 -12 -34 -366 -524 -427 -591 -95 -105 -237 -165 -385 -164 -102 0 -114 3 -534 141 l-328 107 113 0 c128 1 189 16 282 68 78 44 374 291 393 330 39 75 -5 174 -88 199 -34 10 -37 13 -23 27 47 53 54 134 14 185 -39 49 -67 56 -300 73 -198 14 -227 14 -298 1 -94 -19 -176 -56 -245 -112 -28 -23 -57 -45 -64 -50 -30 -18 424 594 482 650 115 112 253 159 427 148 l95 -7 22 28 c28 35 28 57 0 90 -47 53 -253 56 -394 5 -106 -38 -97 -40 -89 21 14 115 -26 281 -94 394 -53 86 -391 552 -431 592 -50 51 -114 77 -190 77 -93 1 -145 -26 -241 -124 -49 -50 -86 -80 -99 -80 -13 0 -50 30 -99 80 -111 113 -203 148 -312 117z m108 -148 c15 -5 64 -46 108 -89 86 -85 130 -110 195 -110 65 0 109 25 200 114 97 96 128 108 188 79 29 -14 77 -73 234 -288 108 -148 210 -297 226 -330 82 -168 72 -361 -28 -520 -29 -46 -440 -615 -445 -615 -1 0 8 26 21 58 35 87 47 156 42 261 -4 93 -7 103 -87 303 -45 114 -91 218 -103 233 -59 75 -159 72 -222 -7 l-26 -33 -26 33 c-63 79 -163 82 -222 7 -11 -14 -42 -79 -67 -144 -44 -110 -46 -120 -34 -147 17 -35 58 -52 96 -38 22 7 35 26 60 84 18 41 37 88 43 104 l10 29 39 -44 c38 -43 40 -44 101 -44 61 0 63 1 101 44 l39 43 10 -26 c5 -14 30 -77 56 -138 86 -208 100 -284 71 -393 -14 -55 -267 -635 -277 -635 -8 0 -258 568 -276 627 -8 25 -14 74 -14 109 0 77 -5 91 -41 110 -35 18 -74 10 -94 -19 -33 -47 -14 -224 36 -336 12 -28 14 -40 6 -31 -44 48 -442 609 -466 657 -72 147 -72 319 1 468 16 33 118 182 226 330 223 305 242 323 319 294z m-907 -1065 c78 -22 167 -75 223 -132 48 -48 487 -643 481 -651 -2 -2 -25 16 -51 39 -82 72 -200 123 -313 136 -90 9 -468 -23 -503 -44 -75 -44 -94 -125 -45 -199 l26 -40 -36 -13 c-21 -7 -45 -20 -56 -29 -45 -40 -59 -116 -31 -170 12 -24 229 -213 335 -292 100 -75 241 -115 374 -107 l81 5 -300 -99 c-165 -54 -338 -110 -385 -124 -213 -65 -424 -14 -566 137 -62 66 -416 559 -427 595 -22 72 16 122 132 175 98 45 135 77 162 134 32 69 25 111 -36 232 -30 59 -55 118 -55 131 0 42 27 90 61 108 51 26 637 214 699 224 67 11 157 4 230 -16z m343 -764 c83 -12 165 -52 237 -117 30 -26 144 -128 252 -225 196 -176 197 -177 165 -182 -17 -3 -169 -20 -337 -37 -347 -35 -391 -33 -493 24 -49 28 -299 226 -313 248 -2 4 16 17 40 28 84 37 112 130 61 205 -13 20 -23 36 -22 37 2 1 147 13 327 27 8 1 46 -3 83 -8z m1977 -5 c63 -3 127 -8 142 -11 l27 -5 -25 -36 c-50 -74 -21 -168 62 -205 54 -23 65 -8 -101 -148 -66 -55 -147 -114 -180 -130 -110 -55 -136 -56 -486 -21 -347 35 -362 38 -354 51 3 5 114 106 247 225 165 148 260 226 301 246 61 31 154 50 217 43 19 -2 87 -6 150 -9z m-1291 -1055 c-77 -362 -96 -413 -176 -492 -26 -26 -115 -89 -198 -141 l-150 -95 -5 52 c-7 66 -31 101 -84 121 -36 14 -50 15 -86 5 -23 -6 -44 -10 -46 -8 -8 9 89 358 113 406 45 89 114 141 418 317 154 89 281 161 282 161 1 -1 -29 -148 -68 -326z m755 61 c121 -68 203 -141 239 -213 25 -48 121 -397 113 -406 -2 -2 -23 2 -46 8 -36 10 -50 9 -86 -5 -53 -20 -77 -55 -84 -121 l-5 -52 -154 98 c-85 53 -174 117 -198 141 -76 76 -96 133 -168 469 -36 168 -67 315 -70 327 -4 19 25 5 177 -84 101 -58 228 -131 282 -162z m479 -2 c188 -61 373 -127 410 -147 125 -65 219 -182 264 -327 16 -53 18 -100 18 -425 0 -410 0 -411 -71 -445 -36 -17 -42 -17 -134 0 -121 22 -187 17 -238 -19 -57 -39 -79 -87 -97 -209 -8 -59 -22 -118 -30 -131 -25 -38 -88 -59 -138 -45 -116 31 -620 200 -668 224 -120 58 -218 173 -264 308 l-25 76 1 403 c0 371 1 399 15 348 22 -85 78 -189 134 -252 48 -54 130 -111 375 -261 73 -44 84 -48 128 -44 40 3 56 11 85 40 30 30 36 44 40 91 4 54 4 55 31 44 39 -15 97 -11 131 9 30 17 70 84 70 115 0 39 -104 428 -129 483 -37 80 -114 171 -187 220 -69 46 -81 55 -71 55 4 0 161 -50 350 -111z"/>
                    </g>
                </svg>
                <span class="pl-2 text-pink-200 font-bold">QuoiCouB'Achat</span>
            </a>
    </h1>

    <!-- navigation -->
    <nav class="nav font-semibold text-lg">
        <ul class="flex items-center">
            <li class="p-4 border-b-2 border-pink-200 border-opacity-0 hover:border-opacity-100 hover:text-pink-200 duration-200 cursor-pointer active">
              <a href="{{ path('app_accueil') }}">Accueil</a>
            </li>
            <li class="p-4 border-b-2 border-pink-200 border-opacity-0 hover:border-opacity-100 hover:text-pink-200 duration-200 cursor-pointer">
              <a href="">Produits</a>
            </li>
            <li class="p-4 border-b-2 border-pink-200 border-opacity-0 hover:border-opacity-100 hover:text-pink-200 duration-200 cursor-pointer">
              <a href="/article">Collections</a>
            </li>
            <li class="p-4 border-b-2 border-pink-200 border-opacity-0 hover:border-opacity-100 hover:text-pink-200 duration-200 cursor-pointer">
            {% if is_granted('ROLE_ADMIN') %}
              <a href="{{ path('app_messagerie_index') }}">Contact</a>
            {% else %}
              <a href="{{ path('app_messagerie_new') }}">Contact</a>
            {% endif %}
            
            </li>
        </ul>
    </nav>

    <!-- buttons --->

    <div class="w-3/12 flex items-center justify-end h-full">
      <form action="{{ path('Rechercher') }}" method="GET">
        <div class="search-bar flex items-center border border-gray-300 rounded overflow-hidden w-64">
          <input type="text" name="Rechercher" placeholder="Rechercher..." class="px-4 py-2 w-full focus:outline-none">
          <button type="submit" class ="px-3">
            <svg class="h-8 p-1 hover:text-pink-200 duration-200" aria-hidden="true" focusable="false" data-prefix="far" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-search fa-w-16 fa-9x"><path fill="currentColor" d="M508.5 468.9L387.1 347.5c-2.3-2.3-5.3-3.5-8.5-3.5h-13.2c31.5-36.5 50.6-84 50.6-136C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c52 0 99.5-19.1 136-50.6v13.2c0 3.2 1.3 6.2 3.5 8.5l121.4 121.4c4.7 4.7 12.3 4.7 17 0l22.6-22.6c4.7-4.7 4.7-12.3 0-17zM208 368c-88.4 0-160-71.6-160-160S119.6 48 208 48s160 71.6 160 160-71.6 160-160 160z" class=""></path></svg>
          </button>
        </div>
      </form>
      {% if app.user %}
          <a class="px-3" href="">
            <svg class="h-8 p-1 hover:text-pink-200 duration-200" aria-hidden="true" focusable="false" data-prefix="far" data-icon="shopping-cart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-shopping-cart fa-w-18 fa-7x"><path fill="currentColor" d="M551.991 64H144.28l-8.726-44.608C133.35 8.128 123.478 0 112 0H12C5.373 0 0 5.373 0 12v24c0 6.627 5.373 12 12 12h80.24l69.594 355.701C150.796 415.201 144 430.802 144 448c0 35.346 28.654 64 64 64s64-28.654 64-64a63.681 63.681 0 0 0-8.583-32h145.167a63.681 63.681 0 0 0-8.583 32c0 35.346 28.654 64 64 64 35.346 0 64-28.654 64-64 0-18.136-7.556-34.496-19.676-46.142l1.035-4.757c3.254-14.96-8.142-29.101-23.452-29.101H203.76l-9.39-48h312.405c11.29 0 21.054-7.869 23.452-18.902l45.216-208C578.695 78.139 567.299 64 551.991 64zM208 472c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm256 0c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm23.438-200H184.98l-31.31-160h368.548l-34.78 160z" class=""></path></svg>
          </a>
          <a class="px-3" href="{{ path('app_user') }}">
            <svg class="h-8 p-1 hover:text-pink-200 duration-200" aria-hidden="true" focusable="false" data-prefix="far" data-icon="user" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-user fa-w-14 fa-9x"><path fill="currentColor" d="M313.6 304c-28.7 0-42.5 16-89.6 16-47.1 0-60.8-16-89.6-16C60.2 304 0 364.2 0 438.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-25.6c0-74.2-60.2-134.4-134.4-134.4zM400 464H48v-25.6c0-47.6 38.8-86.4 86.4-86.4 14.6 0 38.3 16 89.6 16 51.7 0 74.9-16 89.6-16 47.6 0 86.4 38.8 86.4 86.4V464zM224 288c79.5 0 144-64.5 144-144S303.5 0 224 0 80 64.5 80 144s64.5 144 144 144zm0-240c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96z"></path></svg>
        </a>
        <a href="{{ path('app_logout') }}" class="inline-block px-9 py-3 text-sm font-medium text-white bg-pink-200 border border-pink-200 rounded active:text-pink-00 hover:bg-transparent hover:text-pink-200 focus:outline-none focus:ring">
            Déconnexion
          </a>
    {% else %}
        <div class="flex gap-1">
          <a href="{{ path('app_register') }}" class="inline-block px-9 py-3 text-sm font-medium text-white bg-pink-200 border border-pink-200 rounded active:text-pink-00 hover:bg-transparent hover:text-pink-200 focus:outline-none focus:ring">
            Inscription
          </a>
          <a href="{{ path('app_login') }}"class="inline-block px-9 py-3 text-sm font-medium text-pink-200 border border-pink-200 rounded hover:bg-pink-200 hover:text-white active:bg-indigo-500 focus:outline-none focus:ring">
            Connexion
          </a>
        </div>

      {% endif %}
    </div>
</header>
        



{% block body %}{% endblock %}




    <footer class="bg-white">
  <div class="mx-auto max-w-screen-xl space-y-8 px-4 py-16 sm:px-6 lg:space-y-16 lg:px-8">
    <div class="sm:flex sm:items-center sm:justify-between">
    </div>

    <div
      class="grid grid-cols-1 gap-8 border-t border-gray-100 pt-8 sm:grid-cols-2 lg:grid-cols-4 lg:pt-16"
    >
      <div>
        <p class="font-medium text-gray-900">Chéramy Benoit</p>

        <ul class="mt-6 space-y-4 text-sm">
          <li class="flex items-center">
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                clip-rule="evenodd"
              />
            </svg>
            <a href="https://github.com/beubeu28" class="mx-3 text-gray-700 transition hover:text-pink-200"> beubeu28 </a>
          </li>

          <li class="flex items-center">
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z"
                clip-rule="evenodd"
              />
            </svg>
            <a href="https://www.instagram.com/benoit.cheramy/" class="mx-3 text-gray-700 transition hover:text-pink-200"> @benoit.cheramy </a>
          </li>

          <li class="flex items-center">
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path
                d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"
              />
            </svg>
            <a href="#" class="mx-3 text-gray-700 transition hover:text-pink-200"> @benoit.cheramy </a>
          </li>
        </ul>
      </div>

      <div>
        <p class="font-medium text-gray-900">Galli Gabriel</p>

        <ul class="mt-6 space-y-4 text-sm">
          <li class="flex items-center">
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                clip-rule="evenodd"
              />
            </svg>
            <a href="https://github.com/KalityGabi" class="mx-3 text-gray-700 transition hover:text-pink-200"> KalityGabi </a>
          </li>

          <li class="flex items-center">
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z"
                clip-rule="evenodd"
              />
            </svg>
            <a href="https://www.instagram.com/gabriel_glli/" class="mx-3 text-gray-700 transition hover:text-pink-200"> @gabriel_glli </a>
          </li>

          <li class="flex items-center">
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path
                d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"
              />
            </svg>
            <a href="https://x.com/eboyFrancois?s=20" class="mx-3 text-gray-700 transition hover:text-pink-200"> @eboyFrancois </a>
          </li>
        </ul>
      </div>

      <div>
        <p class="font-medium text-gray-900">Rathaux Antonin</p>

        <ul class="mt-6 space-y-4 text-sm">
          <li class="flex items-center">
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                clip-rule="evenodd"
              />
            </svg>
            <a href="https://github.com/Arokiel" class="mx-3 text-gray-700 transition hover:text-pink-200"> Arokiel </a>
          </li>

          <li class="flex items-center">
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z"
                clip-rule="evenodd"
              />
            </svg>
            <a href="https://www.instagram.com/antortx/" class="mx-3 text-gray-700 transition hover:text-pink-200"> @antortx </a>
          </li>

          <li class="flex items-center">
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path
                d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"
              />
            </svg>
            <a href="https://twitter.com/arokiel" class="mx-3 text-gray-700 transition hover:text-pink-200"> @arokiel </a>
          </li>
        </ul>
      </div>

      <div>
        <p class="font-medium text-gray-900">Simoes Ferreira Thomas</p>

        <ul class="mt-6 space-y-4 text-sm">
          <li class="flex items-center">
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                clip-rule="evenodd"
              />
            </svg>
            <a href="https://github.com/SuperTSF" class="mx-3 text-gray-700 transition hover:text-pink-200"> SuperTSF </a>
          </li>

          <li class="flex items-center">
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z"
                clip-rule="evenodd"
              />
            </svg>
            <a href="https://www.instagram.com/thomas.sf_1/" class="mx-3 text-gray-700 transition hover:text-pink-200"> @thomas.sf_1</a>
          </li>

          <li class="flex items-center">
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path
                d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"
              />
            </svg>
            <a href="https://x.com/SimoesThomas4" class="mx-3 text-gray-700 transition hover:text-pink-200"> @SimoesThomas4 </a>
          </li>
        </ul>
      </div>
    </div>

    <p class="text-xs text-gray-500">&copy; 2025. PNHM Company. All rights reserved.</p>
  </div>
</footer>
    </body>
</html>
