{% extends 'base.html.twig' %}

{% block title %}Collection{% endblock %}
{#
{% block body %}
    
    <h1>Article index</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Description</th>
                <th>Stock</th>
                <th>Image</th>
                <th>actions</th>

            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.nom }}</td>
                <td>{{ article.prix }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.stock }}</td>
                <td><img src="{{ article.image }}" style="width: 200px; height: 200px; object-fit: contain;"></td>
                <td>
                     <a href="{{ path('app_article_show', {'id': article.id}) }}">show</a> 
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
                    <a href="{{ path('app_article_add', {'id':article.id}) }}">ajouter</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_article_new') }}">Create new</a>
{% endblock %}
-----------------------------------------------------------------------------------------------------------------------#}


{% block body %}
  <style>
      .mt-2 {margin-bottom: 25%;text-align: center;}
      .text-gray-500 {font-family: 'Franklin Gothic', sans-serif;font-size: 22px; margin-bottom: 10%;}
  </style>
   <section>
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
      <header class="text-center">
        <form action="{{ path('trier') }}" method="GET">
          <select name="Type" class=" border border-grey-200 rounded overflow-hidden w-650" >
            <option value="0" >Type de l'article</option>
            <option value="Figurine">Figurine</option>
            <option value="T Shirt">T-Shirt</option>
            <option value="Casquette">Casquette</option>
            <option value="Jeu de société">Jeu de société</option>
            <option value="Serre tête">Serre tête</option>
          </select>

          <select name="Univers" class=" border border-grey-200 rounded overflow-hidden w-30">
            <option value="0" >Univers</option>
            <option value="One Piece">One Piece</option>
            <option value="Naruto">Naruto</option>
            <option value="Dragon Ball Z">Dragon Ball Z</option>
            <option value="Power Rangers">Power rangers</option>
            <option value="Pokemon">Pokemon</option>
          </select>

          <select name="Prix" class=" border border-grey-200 rounded overflow-hidden w-30">
            <option value="0" >Prix</option>
            <option value="ASC">Croissant</option>
            <option value="DESC">Décroissant</option>
          </select>


          <input name="PMin" placeholder="Prix Minimum" class=" border border-grey-200 rounded overflow-hidden w-30">
          <input name="PMax" placeholder="Prix Maximum" class=" border border-grey-200 rounded overflow-hidden w-30">

    <ul class="mt-8 grid gap-4 sm:grid-cols-2 lg:grid-cols-4">
    {% for article in articles %}
      <li>
        <a href="{{ path('article_detail', { 'articleId': article.id }) }}" class="group block overflow-hidden">
          <img
            src="{{ article.image }}"
            alt=""
            style="height: 200px; width: 200px;object-fit: contain;margin: auto;"
            class="h-[350px] w-full object-cover transition duration-500 group-hover:scale-125 sm:h-[450px]"
          />


          <input type="submit" value="Valider" class="bg-pink-500 hover:bg-pink-600 text-white font-bold py-2 px-4 rounded">
        </form>
      </header>
    </div>
  </section>

  <section>
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
      <header class="text-center">
        <h2 style="color: #E3618E; font-family: 'Franklin Gothic', sans-serif;font-size: 30px;" class="font-bold sm:text-3xl">Collection des articles de QuoiCouB'Achat</h2>

        <p class="text-gray-500">
          Retrouvez notre collection de figurine Pokémon, Naruto, One Piece... Ainsi que des vêtements et autres !!! UwU
        </p>
      </header>

      <ul class="mt-8 grid gap-4 sm:grid-cols-2 lg:grid-cols-4">
      {% for article in articles %}
        <li>
          <a href="" class="group block ">
            <img
              src="{{ article.image }}"
              alt=""
              style="height: 200px; width: 200px;object-fit: contain;margin: auto;"
              class="h-[350px] w-full object-cover transition duration-500 group-hover:scale-125 sm:h-[450px]"
            />

            <div class="relative bg-gradient-to-t from-white via-white via-80% to-transparent pt-3">
              <h3 style="color: #E3618E;text-align: center;" class="group-hover:underline group-hover:underline-offset-4">
                {{article.nom}}
              </h3>

              <p class="mt-2">
                <span class="tracking-wider text-gray-900"> {{article.prix}} € </span>
              </p>
            </div>
          </a>
        </li>
      {%endfor%}
      </ul>
    </div>
  </section>
{% endblock %}
