{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

<div class="container my-24 mx-auto md:px-6 ">
  <section class="mb-32 ">
    <div class="flex flex-wrap items-center ">
      <div class="w-full md:w-2/12 lg:w-3/12 ">
        <img src="{{ article.image }}"
          style="margin-top: 70px;
                margin-left: 100%;"
          class="mb-6 mx-auto w-64 h-auto rounded-lg shadow-lg dark:shadow-black/20" alt="Avatar" />
      </div>

      <div class="w-full md:w-10/12 mt-8 md:pl-8 text-center md:text-left lg:w-9/12 flex flex-col items-center">
        <h5 class="mb-14 text-2xl font-semibold">{{ article.nom }}</h5>
        <p class="mb-6 text-xl text-pink-400 font-semibold">{{ article.description }} </p>
        <p class="mb-6 text-xl text-pink-400 font-semibold">{{ article.stock }} articles restants ! </p>
        <p class="mb-6 text-xl text-pink-400 font-semibold">{{ article.prix }}  €</p>
        
        {% if article.stock==0 %}
          <form action="" method="get">
          <button type="submit" class="bg-pink-500 hover:bg-pink-600 text-white font-bold py-2 px-4 rounded">
            Article non disponible
          </button>
          </form>
        {% else %}
          <form action="{{ path('app_article_ajout', {'id': article.id}) }}" method="get">
            <button type="submit" class="bg-pink-500 hover:bg-pink-600 text-white font-bold py-2 px-4 rounded">
              Ajouter au panier
            </button>
          </form>
        {% endif %}
        </br>
        <form action="{{ path('app_article_index') }}" method="get">
          <button type="submit" class="bg-pink-500 hover:bg-pink-600 text-white font-bold py-2 px-4 rounded">
          Retourner aux articles 
          </button>
        </form> 
        {% if is_granted('ROLE_MANAGER') %}
        </br>
        <form action="{{ path('app_article_edit', {'id': article.id}) }}" method="get">
        <button type="submit" class="bg-pink-500 hover:bg-pink-600 text-white font-bold py-2 px-4 rounded">
         Modifier l'article
        </form>

        {% endif %}
    </div>
  </section>
</div>

 

{% endblock %}
