{% extends 'base.html.twig' %}

{% block title %}DetailCommande index{% endblock %}

{% block body %}
    <h1>DetailCommande index</h1>

     <table class="table">
        <thead>
            <tr>
                <th>Quantite</th>
                <th>PrixUnitaire</th>
                <th>PrixTotal</th>
            </tr>
        </thead>
        <tbody>
        {% if detail_commandes|length > 0 %}
            {% set commande = detail_commandes[0].commandeid %}
            <tr>
                <td>{{ detail_commandes[0].quantite }}</td>
                <td>{{ detail_commandes[0].prixUnitaire }}</td>
                <td>{{ detail_commandes[0].prixTotal }}</td>
            </tr>
            {% for detail_commande in detail_commandes[1:] %}
                <tr>
                    <td>{{ detail_commande.quantite }}</td>
                    <td>{{ detail_commande.prixUnitaire }}</td>
                    <td>{{ detail_commande.prixTotal }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="3">Commande ID: {{ commande.id }}</td>
                <td>Date: {{ commande.date ? commande.date|date('Y-m-d') : '' }}</td>
                <td>Montant Total: {{ commande.montantTotal }}</td>
                <td>Statut: {{ commande.statut }}</td>
                <td>
                    {# Ajoute ici les liens pour les actions si nécessaire #}
                    <a href="{{ path('app_detail_commande_show', {'id': detail_commandes[0].id}) }}">show</a>
                    <a href="{{ path('app_detail_commande_edit', {'id': detail_commandes[0].id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

{% endblock %}
